{% extends 'base.html' %}


{% block body %}
		


        <div class="card mb-3" style="border-color: skyblue; padding: 200px;">
          <div class="card-header">
          HOme Page</div>
          <div class="card-body">
          <a href="/maker-register/"> Maker register</a>
          <br>
          <a href="/checker-register/"> Checker register</a>
          </div>
          <div class="card-footer small text-muted">
            
          </div>
        </div>


        
{% endblock %}


