{% extends 'adminbase.html' %}
{% load crispy_forms_tags %}



{% block body %}
    		<div class="col-md-12" style="">
              <div class="card shadow col-md-9">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Add New {{ obj }}</h6>
                </div>
                <div class="card-body" >
	              <form class="user" method="post">
	                {% csrf_token %}

	                {{form|crispy}}
	                <div class="text-center ">
	                <button type="submit" class="btn btn-success "> Submit </button>
	                </div>
	              </form>
                </div>
              </div>
             </div>




        
{% endblock %}


